<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Active Orders</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div text-center margin-top>
        <img class="image" src="http://pngimg.com/uploads/microsoft/microsoft_PNG14.png">
    </div>

    <div text-center>
        <h2>Our Lunch!</h2>
        <p>By ATLC, for ATLC</p>
    </div>

    <ion-list>
        <ion-list-header>
            Developed with love by
        </ion-list-header>

        <ion-item>
            <ion-icon name="person" item-start></ion-icon>
            Sherif Arafa
        </ion-item>

        <ion-item>
            <ion-icon name="person" item-start></ion-icon>
            Omar Sourour
        </ion-item>
    </ion-list>

    <p text-center>
        To report any bugs, comments, suggestions, or complaints, please send an email to
        <a href="mailto:omsour@microsoft.com">omsour@microsoft.com</a>
    </p>
</ion-content>
