<ion-header>
    <ion-toolbar>
        <ion-title>
            Create your order
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label floating>Restaurant</ion-label>

        <ion-select [(ngModel)]="restaurantId">
            <ion-option *ngFor="let restaurant of restaurants | async" [value]="restaurant.id">{{ restaurant.name }}</ion-option>
        </ion-select>
    </ion-item>
    <a margin [style.display]="'block'" (click)="openPopover($event)">Can't find your restaurant? Add it</a>

    <ion-item>
        <ion-label floating>Order time</ion-label>
        <ion-datetime displayFormat="h:mm A" [(ngModel)]="time"></ion-datetime>
    </ion-item>

    <button ion-button block color="secondary" margin-top (click)="createOrder()">Create Order</button>
</ion-content>
