<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ (restaurant | async)?.name }} order details</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h6>
        Owner: {{ (user | async)?.firstName + ' ' + (user | async)?.lastName }}
        <span float-right>{{ time | async }}</span>
    </h6>
    <hr>

    <button ion-button block margin-top color="default" (click)="openSettingsModal($event)">Order settings</button>
    <button ion-button block color="secondary" (click)="openItemModal($event)">Add new item</button>

    <ion-card *ngFor="let userItem of userItems | async" margin-top>
        <ion-card-header>
            {{ userItem.userId | userNameAsync:users | async }}
            <span float-right>{{ calculateTotal(userItem) }} L.E</span>
        </ion-card-header>

        <ion-list>
            <ion-list-header>
                Order items
            </ion-list-header>

            <ion-item *ngFor="let item of userItem.orderItems">
                <h3>
                    {{ item.quantity }}x {{ item.mealId | mealNameAsync:meals | async }}
                    <span float-right>{{ item.quantity * item.price }} L.E</span>
                </h3>
                <p>{{ item.notes }}</p>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>
