<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Active Orders</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list margin-top>
        <ion-item *ngIf="(orders | async)?.length === 0">
            <h5>No currently active orders</h5>
        </ion-item>

        <ion-item *ngFor="let order of orders | async | paginate:{ itemsPerPage: 10, currentPage: p }" (click)="goToOrder(order)">
            <ion-avatar item-start>
                <div class="indicator"></div>
            </ion-avatar>

            <h2>{{ order.restaurantId | restaurantNameAsync:restaurants | async }}</h2>

            <h3>Issued by: {{ order.userId | userNameAsync:users | async }}</h3>

            <p>{{ order.time | activeDate }}</p>
        </ion-item>
    </ion-list>

    <pagination-controls text-center [autoHide]="true" (pageChange)="p = $event"></pagination-controls>
</ion-content>
