<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Orders History</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label>From</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label>To</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
    </ion-item>

    <table>
        <thead>
            <tr>
                <th>Owner</th>
                <th>Restaurant</th>
                <th>Time</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let order of orders"></tr>
        </tbody>
    </table>
</ion-content>
