<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Orders History</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label>From</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DDTHH:mmZ" [(ngModel)]="startFilter" (change)="onDateChange()"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label>To</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DDTHH:mmZ" [(ngModel)]="endFilter"></ion-datetime>
    </ion-item>

    <ion-list margin-top>
        <ion-list-header>
            Orders in time span
        </ion-list-header>

        <ion-item *ngFor="let order of orders | async" (click)="goToOrder()">
            <ion-avatar item-start>
                <div class="indicator" [class.active]="isActive(order)"></div>
            </ion-avatar>

            <h2>{{ order.restaurantId | restaurantNameAsync:restaurants | async }}</h2>

            <h3>Issued by: {{ order.userId | userNameAsync:users | async }}</h3>

            <p>{{ order.time | date:'medium' }}</p>
        </ion-item>
    </ion-list>
</ion-content>
