<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Orders History</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label>From</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DDTHH:mmZ" [(ngModel)]="startFilter" (change)="onDateChange()"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label>To</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DDTHH:mmZ" [(ngModel)]="endFilter"></ion-datetime>
    </ion-item>

    <table>
        <thead>
            <tr>
                <th>Owner</th>
                <th>Restaurant</th>
                <th>Time</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let order of orders | async" (click)="goToOrder()">
                <td>{{ order.userId | userNameAsync:users | async }}</td>
                <td>{{ order.restaurantId | restaurantNameAsync:restaurants | async }}</td>
                <td>{{ order.time | date:'medium' }}</td>
            </tr>
        </tbody>
    </table>
</ion-content>
