<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Welcome</ion-title>
    </ion-navbar>
</ion-header>
<div class="Welcome">
    <ion-content padding>

        <ion-card>
            <ion-card-header>
            </ion-card-header>

            <ion-card-content>
                <ion-item>
                    <img src="C:/Users/Administrator/Desktop/Microsoft Our Lunch Images/welcome-banner.jpg" alt="" width="1" height="100">
                </ion-item>



                <button ion-button (click)="onButtonClicked()">Sign Up</button>
                <button ion-button (click)="onButtonClicked()">Sign In</button>
            </ion-card-content>
        </ion-card>

    </ion-content>

</div>
